header {
  background-color: #282c30;
  color: white;
  display: flex;
  justify-content: center;
}

body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

h4 {
  font-size: 2rem;
}

.movie_card {
  display: flex;
}

.movie_card_info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie_card:nth-child( even ) {
  background-color: #383a3b;
  color: whitesmoke;
}

.movie_card_title_rating {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.movie_card_info p {
  letter-spacing: 0.1rem;
  width: 80%;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

@media ( max-width : 1000px ) {

  .movie_card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

